.idk {
    margin-top: 5px;
    padding-top: 1rem;
}

#id2 {
    background: #d4edda;
    color: #155724;
}

#id4 {
    background: #fff3cd;
    color: #856404;
}

.font {
    font-family: Verdana;
}

h2 {
    margin-bottom: 0.3rem;
}

p {
    margin-bottom: 0.3rem;
}